	/********
	GENERAL
	*********/		

	html {
		height: 100%;
	}					

	

	ul {
		list-style: none;
	}

	body {
		line-height: 1.75;

		}

	a {
		text-decoration: none;
		}

	img {
		width: 100%;
	}

	

	/********
	HEADER
	********/

	header {
		overflow: hidden;
		max-width: 1920px;
	}

	.header-top {
		display: inline-block;
		width: 50%;
		height: 20em;
		position: relative;
		overflow: hidden;
		float: left;
		margin: 0;
	}

	.header-top a img {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 70%;
		/*margin: auto;*/

	}

	.header-top img {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	img[src*="header-v"] {
		/*border-left: 1.5em solid #212f2b;*/
	}

	#button {
		display: none;
		background-color: #f29f37;
		border-radius: 50%;
		color: #212f2b;
		font-family: 'Francois One', sans-serif;
		font-size: .75em;
		border: none;
		margin-top: 2%;
		margin-right: auto;
		margin-left: auto;
		z-index: 5;
		width: 60px;

	}

	

	
	/********
	NAVIGATION
	********/
	nav   {
	    display: flex;
	    margin: 0 auto;
	    width: 100%;
	    border: 1px solid #929292;
	    /*position: absolute;*/
	    /*bottom: 0;*/
	    /*right: 0;*/
		/*margin-top: auto;*/
	}

	nav ul  {
		font-family: 'Francois One', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
	    display: flex;
	    width: 100%;
	   	flex-direction: row;
	    justify-content: center;
	    /*padding: 5%;*/
	    margin: 0;
	}	

	nav ul li a{
		text-decoration: none;
		color: #212f2b;
		
	}

	nav ul li {
		padding: 1% 4%;
		border-left: 1px solid #929292;
		border-right: 1px solid #929292;
	}


	


	/********
	FOOD PHOTO
	********/

	#container {
		display: inline-block;
		/*position: relative;*/
		/*margin: 0 auto;*/
		width: 100%;
		height: 100%;
		max-width: 1920px;
		padding-top: 2%;
		padding-bottom: 5%;
		background-color: #ebebeb;
		
	}

	#left-half {
		float: left;
	}

	#left-half,
	#right-half {
		/*display: inline-block;*/
		background-color: #ebebeb;
		/*float: left;*/
		width: 50%;
		/*height: 100%;*/
		/*overflow: visible;*/

	}
	
	#left-half img {
		width: 150%;
		margin-left: -30%;
		padding-top: 10%;
		overflow: visible;
	}

	#right-half {
		/*z-index: 20;*/
		color: #212f2b;
		font-family: 'Pacifico', cursive;
		font-weight: 600;
		font-size: 3.5em;
		text-align: left;
		padding-top: 10%;
		overflow: hidden;
		
	}

	#right-half p{
		margin: 0;

	}
	
	/********
	FOOTER
	********/

	footer {
		background: #212f2b;
	}


	footer .row   {
		font-family: 'Francois One', sans-serif;
		font-size: 1em;
		color: gray;
	    display: flex;
	    width: 100%;
	   	flex-direction: row;
	    list-style: none;
	    justify-content: space-between;
	    padding: 0;
	    margin: 0 auto;
	}

	.footer-nav li, .footer-nav li a,
	.footer-address a p, .fourth-col p,
	footer a  {
		color: #cdcdd4 ;
	}

	.footer-nav,  
	.footer-address, .fourth-col {
		padding: 0;
		margin: 2em 2em;
	}

	.fourth-col p{
		padding: 0;
		margin: 0;
	}

	/*************
	SOCIAL MEDIA - IN FOOTER
	*************/
	

	@font-face {
    font-family: 'si';
    src: url('../img/socicon.eot');
    src: url('../img/socicon.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon.woff') format('woff'),
         url('../img/socicon.ttf') format('truetype'),
         url('../img/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
	}
 
	@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../img/socicon.svg) format(svg);
    	}
	}

.soc {
    /*overflow:hidden;*/
    margin: 2.5em auto;
    padding: 0 .75em;
    list-style:none;
}

.soc li {
    display: flex;
    *display: flex;
    margin: 1em auto;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #c4cdd4;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'a';
}
.soc-facebook:before {
    content:'b';
}

	/********
	Page: Menu
	********/




	/********
	Page: Catering
	********/

	/********
	Page: Gallery
	********/

	/********
	Page: About
	********/


	/********
	Colors
	********/

	

	